// tips颜色
$tips-bg-color:        #73e0c3 !default;
$tips-text-color:      #fefefe !default;
$tips-success-color:   #1ad2f1 !default;
$tips-warning-color:   #e88300 !default;
$tips-error-color:     #cc8d29 !default;



$main-bg:              #090b15 !default;
$inp-p:                #374059 !default;
$icon:                 #bacef1 !default;
$font-color:           #e5ebff !default;
$login-bg:             #0e1524 !default;
$wallet-bg:            #0e1524 !default;
$wallet-btn-bg:        #00b4c6 !default;
$login-lin:            #2e8fb4 !default;
$font-login:           #c4daff !default;
$but-deep:             #1e2538 !default;
$but-light-l:          #21abb1 !default;
$but-confirm:          #23b4bd !default;
$login-f-pwd:          #506081 !default;
$logo-but-bg:          #282e40 !default;
$font-wall:            #1ad2f1 !default;
$ver-lin:              #32384c !default;
$dialog-tit-color:     #e5eeff !default;
$message-icon:         #2ba345 !default;
$font-per:             #ffffff !default;
$font-but-wall:        #17acc7 !default;
$per-state-bg1:        #cc2929 !default;
$per-state-bg2:        #cc8d29 !default;
$per-state-bg3:        #eeeeee !default;
$font-per-s3:          #9a9a9a !default;
$per-lin:              #29354d !default;
$font-warn:            #ffd967 !default;
$fd-t-bg:              #1c2233 !default;
$fd-but-lin:           #4e5b80 !default;
$fd-d-lin:             #374159 !default;
$fd-c-butbg:           #374159 !default;
$font-funs:            #b8bdcc !default;
$withdraw-tbg:         #0a0f1a !default;
$font-red:             #ff3333 !default;
$reg-lin:              #32384d !default;
$cut-off-rule:         #212a3d !default;
$footer-bg:            #0C121F !default;
$notice-title-color:   #bec3ca !default;
$close-tit-lin:        #303c54 !default;
$sheep-bg:             #232d42 !default;
$not-font:             #758bb5 !default;
$not-data:             #526585 !default;
$not-fli:              #01b7f4 !default;
$info-color:           #c5dbff !default;
$info-bg-color:        #828795 !default;

